.ipynb_checkpoints/
project_plan/.gitignore
project_plan/.ipynb_checkpoints/
project_plan/bin/
project_plan/cmake/
project_plan/conda-meta/
project_plan/doc/
project_plan/etc/
project_plan/include/
project_plan/lib/
project_plan/libexec/
project_plan/man/
project_plan/mkspecs/
project_plan/phrasebooks/
project_plan/plugins/
project_plan/qml/
project_plan/sbin/
project_plan/share/
project_plan/ssl/
project_plan/translations/

